- form_tag '/password_reset/create' do
  %h2 Forgot Password
  %div
    Fill out the form below and instructions to reset your password will be emailed to you.
  %label Email:
  = text_field_tag "email"
  .buttons
    = submit_tag "Submit"
