- @user.password = @user.password_confirmation = nil
%fieldset
  = form.error_messages
  %legend
    Your Information
  = form.text_field :login, :label => 'Username'
  = form.text_field :email
  = form.password_field :password
