- semantic_form_for @user, :url => account_path do |f|
  %h2 Your Information
  = render :partial => "form", :object => f
  .buttons
    = f.commit_button "Register"

- content_for :on_ready do
  PNB.formFocusFirst('new_user')
