%h1 Welcome, here are the things you need to do
%ol{ :style => 'font-size:1.5em; line-height:1.2em;' }
  %li Update config/site.yml
  %li Change the admin user password it is currently admin/changeme
  %li Update app/views/home/index.html.haml to change this.
