- if SiteConfig.google_tracker_id
  %script{ :type => 'text/javascript', :charset => 'utf-8' }
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.")
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"))
  %script{ :type => 'text/javascript', :charset => 'utf-8' }
    = "try { var pageTracker = _gat._getTracker('#{SiteConfig.google_tracker_id}'); pageTracker._trackPageview(); } catch(err) {}"
